@model book2us.Models.Order

@{
    ViewBag.Title = "Test Checkout";
}

<h2>Test Checkout Form</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="alert alert-info">
    <strong>Debug Info:</strong><br/>
    User Authenticated: @User.Identity.IsAuthenticated<br/>
    User Name: @User.Identity.Name<br/>
    ViewBag.IsPrintingService: @ViewBag.IsPrintingService
</div>

@using (Html.BeginForm("TestCheckout", "ShoppingCart", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <label>Test Field:</label>
        <input type="text" name="testField" class="form-control" value="test value" />
    </div>
    
    <input type="hidden" name="isPrintingService" value="true" />
    <input type="hidden" name="totalPages" value="10" />
    <input type="hidden" name="fulfillmentMethod" value="Pickup" />
    
    <input type="submit" value="Test Submit" class="btn btn-primary" />
}

<div class="form-horizontal">
    <h4>Field Name Analysis</h4>
    <hr />
    
    <div class="alert alert-info">
        <h5>Generated Field Names and IDs:</h5>
        <ul>
            <li><strong>FirstName:</strong> @Html.IdFor(model => model.FirstName) / @Html.NameFor(model => model.FirstName)</li>
            <li><strong>LastName:</strong> @Html.IdFor(model => model.LastName) / @Html.NameFor(model => model.LastName)</li>
            <li><strong>Address:</strong> @Html.IdFor(model => model.Address) / @Html.NameFor(model => model.Address)</li>
            <li><strong>City:</strong> @Html.IdFor(model => model.City) / @Html.NameFor(model => model.City)</li>
            <li><strong>State:</strong> @Html.IdFor(model => model.State) / @Html.NameFor(model => model.State)</li>
            <li><strong>PostalCode:</strong> @Html.IdFor(model => model.PostalCode) / @Html.NameFor(model => model.PostalCode)</li>
            <li><strong>Country:</strong> @Html.IdFor(model => model.Country) / @Html.NameFor(model => model.Country)</li>
            <li><strong>Phone:</strong> @Html.IdFor(model => model.Phone) / @Html.NameFor(model => model.Phone)</li>
            <li><strong>Email:</strong> @Html.IdFor(model => model.Email) / @Html.NameFor(model => model.Email)</li>
        </ul>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            console.log('Test form loaded');
            console.log('User authenticated:', '@User.Identity.IsAuthenticated');
            console.log('User name:', '@User.Identity.Name');
            
            $('form').on('submit', function(e) {
                console.log('TEST FORM SUBMISSION DETECTED');
                console.log('Form action:', $(this).attr('action'));
                console.log('Form method:', $(this).attr('method'));
                
                // Log all form data
                var formData = new FormData(this);
                for (var pair of formData.entries()) {
                    console.log(pair[0] + ': ' + pair[1]);
                }
                
                console.log('Test form submission proceeding...');
            });
            
            console.log('Field IDs:');
            console.log('Address ID:', '@Html.IdFor(model => model.Address)');
            console.log('City ID:', '@Html.IdFor(model => model.City)');
            console.log('State ID:', '@Html.IdFor(model => model.State)');
            console.log('PostalCode ID:', '@Html.IdFor(model => model.PostalCode)');
            console.log('Country ID:', '@Html.IdFor(model => model.Country)');
            
            // Test jQuery selectors
            console.log('Address field found:', $('#@Html.IdFor(model => model.Address)').length > 0);
            console.log('City field found:', $('#@Html.IdFor(model => model.City)').length > 0);
            console.log('State field found:', $('#@Html.IdFor(model => model.State)').length > 0);
            console.log('PostalCode field found:', $('#@Html.IdFor(model => model.PostalCode)').length > 0);
            console.log('Country field found:', $('#@Html.IdFor(model => model.Country)').length > 0);
        });
    </script>
}