@using System.Security.Claims

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-none" }))
    {
        @Html.AntiForgeryToken()
    }
    
    <ul class="ms-auto navbar-nav">
        <li class="nav-item dropdown">
            <a class="d-flex align-items-center nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="me-1 bi bi-person-circle"></i>
                <span>@Context.User.Identity.Name</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" href="@Url.Action("Dashboard", "Account")">
                        <i class="bi bi-speedometer2"></i> My Dashboard
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("Profile", "Account")">
                        <i class="bi bi-person-gear"></i> Edit Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("Index", "CustomerPrinting")">
                        <i class="bi bi-printer"></i> My Printing Requests
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="text-danger dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
                        <i class="bi-box-arrow-right bi"></i> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="ms-auto navbar-nav">
        <li class="me-2 nav-item">
            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-outline-light btn-sm", id = "loginLink" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-light btn-sm", id = "registerLink" })
        </li>
    </ul>
}